@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color:#f0f0f09a;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/PROJECT/media/thumb-1920-601157.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
.main h2{
    color: white;
    font-size: 2.7em;
    font-weight: 500;
    text-transform: capitalize;
}

#sony{
    color: white;
    font-weight: 500;
    font-size: 1.1em;
    text-transform: capitalize;
    padding-left: 125px;
}

input[type="submit"]{
    width: 70%;
    align-items: center;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    background-color:  rgb(211, 134, 71);
    border: 1px solid green;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    border-radius: 100px;
}

input:hover{
    background-color: red;
}

.information{
    color: white;
    font-size: 0.9em;
    margin-left: 10px;
}

.title{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: #fff;
    width: 18.5em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}

.card:hover{
    transform: scale(1.1);
}

.img{
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    
    font-weight: 800;
    margin: 15px;
}

.discover{
    background-color: rgb(36, 35, 35);
}
.title-d{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.discover .content{
    margin-top: 30px;
}

.discover-items{
    min-height: 14em;
    width: 34.9em;
    margin: 0 15px 100px 15px;
    overflow: hidden;
}

.img-item img{
    width: 100%;
}

.info-item{
    color: white;
    font-weight: 100;
    font: size 1em;
    padding-bottom:10px ;
}

.dis{

    color: white;
    font-weight: 200;
    font-size: 1em;
}

.title1{
    display: flex;
    justify-content: center;
    color: #0f0f0f;
    font-weight: 800;
    font-size: 2.2em;
}

.title2{
    display: flex;
    justify-content: center;
    color: #0b0c0b;
    font-size: 1.3em;
    font-weight: 200;
    margin-bottom: 30px;
}

.hints{
    background-color: rgb(204, 197, 131);
}

.image-hent img{
    display: flex;  
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    height: 30em;
    width: 65em;
    margin-left: 110px;
}

.info-hent{
    width: 25em;
    padding: 25px;
    margin: 21px;
}

.videos{
    background: rgb(201, 197, 197);
}

.contener{  
    display: flex;
    justify-content: space-between;
}

.video-card{
    margin-left: -11em;
    margin-right: 350px;
}

.info-dis{
    font-weight: 300;
    font-size: 0.8em;
    padding-top: 15px;
    width: 30em;
}

.info-dis p{
    font-size: 1.1em;
    font-weight: 400;
}